<!DOCTYPE html>
<html lang="en">
<%- include('include/head'); %>

<body id="page-top">
    <%- include('../include/alert'); %>
    
    <!-- Page Wrapper -->
    <div id="wrapper">
 
    
        

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                        <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Data Kurikulum</h6>
                        </div>
                        <div class="card-body">
                            <form action="/tambah/kurikulum/1" method="post" enctype="multipart/form-data">   
                                <div class="form-group">
                                  <label class="col-md-2 control-label">Judul</label>
                                  <div class="col-md-10">
                                    <input class="form-control" required type="text" placeholder="Masukan Judul" name="judul" id="">
                                  </div>
                                </div>

                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <label class="control-label">Jenis</label>
                                    <select class="form-control col-md-10" id="j" name="jenis">
                                        <option value="">--- Silahkan Pilih ---</option>
                                        <option value="1">DIKTUK</option>
                                        <option value="2">DIKBANG</option>
                                        <option value="3">PELATIHAN</option>
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-2 control-label">File PDF</label>
                                    <div class="col-md-10">
                                      <input class="form-control" type="file" name="files" id="">
                                      </div>
                                      </div>

                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <input class="btn btn-outline-primary" type="submit" value="Tambah">
                                </div>
                            </form>
                        </div>
                    

                    </div>

                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>

    <%- include('include/close'); %>

</body>

</html>


