<!DOCTYPE html>
<html>
  <%- include('include/header'); %>
<body id="body">
  <header class="navigation fixed-top">
    <div class="container">
      <%- include('include/navbar'); %>
    </div>
  </header>

<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12"><br><br>
				<h2>Galeri</h2>
				<br><br><br><br>
			</div>
		</div>
	</div>
</section>


<section class="portfolio section-sm" id="portfolio">
	<div class="container-fluid">
		<div class="row ">
			<div class="col-lg-12">

				<!-- section title -->
				<div class="title text-center">
					<h2>Foto Kegiatan</h2>
					<p></p>
					<div class="border"></div>
				</div>
				<!-- /section title -->

				<div class="portfolio-filter">
					<button type="button" data-filter="1">Pola Pembelajaran</button>
					<button type="button" data-filter="2">Pola Pengasuhan</button>
				</div>

				<div class="row filtr-container">

					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe1.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe1.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe2.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe2.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe3.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe3.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe4.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe4.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe5.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe5.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe6.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe6.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe7.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe7.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe8.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe8.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>


					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe9.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe9.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe10.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe10.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe11.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe11.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe12.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe12.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe13.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe13.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="1">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pe14.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pe14.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
				

					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="2">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pp1.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pp1.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="2">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pp2.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pp2.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="2">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pp3.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pp3.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="2">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pp4.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pp4.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="2">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pp5.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pp5.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="2">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pp6.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pp6.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="2">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pp7.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pp7.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="2">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pp8.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pp8.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>


					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="2">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pp9.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pp9.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="2">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pp10.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pp10.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="2">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pp11.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pp11.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 filtr-item " data-category="2">
						<div class="portfolio-block">
							<img class="img-fluid" src="images/portfolio/pp12.jpg" alt="">
							<div class="caption">
								<a class="search-icon" href="images/portfolio/pp12.jpg" data-lightbox="image-1">
									<i class="tf-ion-ios-search-strong"></i>
								</a>
								<h4><a href="">Detail</a></h4>
							</div>
						</div>
					</div>
					
			</div> <!-- /end col-lg-12 -->
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- End section -->

<%- include('include/footer'); %>
<%- include('include/close'); %>
  </body>
  </html>