<!DOCTYPE html>
<html>
  <%- include('include/header'); %>
<body id="body">
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div> 
  <header class="navigation fixed-top">
    <div class="container">
      <%- include('include/navbar'); %>
    </div>
  </header>

<section class="single-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Tentang Kami</h2>
        <ol class="breadcrumb header-bradcrumb">
        </ol>
      </div>
    </div>
  </div>
</section>

<div id="tentang"><br><br><br></div>
<section class="about-shot-info section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-20" >
        <h2 style= "text-align: center;">Tentang SPN</h2>
        <p  style= "text-align: justify;">Sekolah Pendidikan Kepolisian Negara atau SPN berada di bawah Polda Metro Jaya bertugas menyelenggarakan pendidikan pembentukan Tamtama, Bintara dan Alih Golongan ke Perwira Pertama (Inspektur) serta pendidikan dan pelatihan lain sesuai program / kebijakan pimpinan Polda Metro Jaya, Yang tak kalah penting SPN Lido juga memiliki peran sebagai pencetak pejuang-pejuang kemanusiaan, yakni para Calon Polisi yang senantiasa berjuang menyelamatkan manusia dari ancaman kejahatan maupun bencana alam, Selain itu SPN Lido juga melaksanakan pelatihan kepada para Satpam, Sat Pol PP, Taruna Kemenkumham, sekolah-sekolah lainnya dan berbagai pelatihan untuk perusahaan swasta maupun instansi pemerintah lainya. </p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="images/team/spn.jpg" alt="">
      </div>
    </div>
  </div>
</section>


<div id="visi"><br><br><br></div>
<section class="company-mission section-sm bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 style= "text-align: center">VISI</h3>
        <p style= "text-align: center">Mendukung Polda Metro Jaya dalam ranka membentuk dan meningkatkan kualitas Sumber Daya Manusia Polri melalui Diklat.</p><br>
        <img src="images/company/visimisi2.jpg" alt="" class="img-fluid mt-30">
      </div>
      <div class="col-md-6">
        <h3 style= "text-align: center">MISI</h3>
        <p style= "text-align: center">Menyelenggarakan Program Pendidikan Pembentukan Bintara Polri dan Pelatihan Fungsi Teknis Kepolisian, dan mengelola 8 (delapan) Komponen Pendidikan.</p>

        <img src="images/company/web.jpg" alt="" class="img-fluid mt-30">
      </div>
    </div>
  </div>
</section>

<div id="sejarah"><br><br></div>
<section class="about-shot-info section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid "  src="images/sejarah.jpg" alt="" style="padding-top: 5%;" >

      </div>
      <div class="col-md-6 mt-20" >
        <h2 style= "text-align: center">Sejarah SPN</h2>
        <p  style= "text-align: justify;">Lembaga Pendidikan ini mulai didirikan pada tanggal 25 April 1957 sebagai tempat latihan Brigadir Mobil (T.L. Brimob) yang kemudian berkembang mengikuti perkembangan organisasi Kepolisian yang berganti-ganti dari Th.1957-1958 : Batle Training Center (BTC), Th.1958-1959 : Tempat Latihan Mobil Brigade, Th.1959-1960 : Tempat Latihan Brigade Mobil, Th.1960-1962 : Sekolah Kepolisian Negara (SPN), Th.1962-1964 : Sekolah Angkatan Kepolisian (SAK), Th.1964-1965 : Depo Diklat 008 Komdak VIII Jawa Barat, Th.1965-1968 : Kodiklat 007 Komdak VII Metro Jaya, Th.1968-1980 : Menjadi Dodiklat Dak 007 Lido, Th.1981-1989 : Sekolah Kepolisian Negara Lido, Th.2011 : Sekolah Polisi Negara Polda Metro Jaya.</p>
        <p style= "text-align: justify;">Sampai sekarang  Berdasarkan Perkap 22 tahun 2010 tanggal 28 september 2010 tentang organisasi dan tata cara kerja tingkat Kepolisian Daerah  (Polda) sesuai pasal 236 (2) SPN PMJ bertugas menyelenggarakan Pendidikan Pembentukan Brigadir serta pendidikan dan pelatihan lainnya sesuai dengan Renja atau Kebijakan Kapolda atau Kapolri. Pembentukan Brigadir serta pendidikan dan pelatihan lainnya sesuai dengan Renja atau Kebijakan Kapolda atau Kapolri.</p>
      </div>
      
    </div>
  </div>
</section>


<section id="struktur">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title text-center ">
          <br><br>
          <h2>Struktur Organisasi</h2>
          <div class="border"></div>
          
        </div>
        <img class="img-fluid" src="images/about/struktur.jpg" style="position: center;; ">
        <br><br>
      </div>
    </div>
  </div>
</section>   

<%- include('include/footer'); %>
<%- include('include/close'); %>
  </body>
  </html>